{# templates/bonjour/bonjour.html.twig #}

{# Ce template est rangé dans un sous dossier de templates, de façon à mieux organiser les fichiers de vue #}

<h2>Bonjour <strong>{{ pseudo }}</strong> ,  <small>vous allez bien?</small></h2>
