{# templates/bonjour.html.twig #}
{%  extends('layout.html.twig') %}
{% block title %}Page Bonjour{% endblock %}

{%  block content %}
    <h1>Ceci n'est pas ma page d'accueil</h1>
    Bonjour {{ nom }}
    <a href="{{ path('home') }}">Accueil</a>
{%  endblock %}