{# templates/bonjour.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
</head>
<body>
    <h1>Ceci n'est pas ma page d'accueil</h1>
    Bonjour {{ nom }}
<a href="{{ path('home') }}">Accueil</a>
</body>
</html>