{# templates/exercice2.html.twig #}
{%  extends('layout.html.twig') %}
{% block title %}Page exercice2 : Date{% endblock %}

{%  block content %}
    <h1>Exercice2</h1>
    Bonjour, il est {{ maDate }}
{%  endblock %}