{# templates/index.html.twig #}

{# on utilise le mot clé extends qui permet de définir de quel layout cette vue va hériter
    Comme pour les classes php, une vue ne peut hériter que d'un layout
    Par contre une vue peut hériter d'un layout qui hérite lui même d'un autre layout
    Twig va chercher directement les vues dans templates/, il suffit donc ici de lui donner layout.html.twig en paramètre
#}
{% extends 'layout.html.twig' %}

{# le block title va remplir la balise <title>#}
{% block title %}Accueil{% endblock %}

{# le block content va devenir le contenu de la page#}
{%  block content %}
    <h1>Ceci est ma page d'accueil</h1>
    Bonjour {{ nom }}
    <p><a href="bonjour/">Lien vers la page bonjour</a></p>
    <p><a href="{{ path('bonjourNom', {nom: 'titi'}) }}">Lien vers la page bonjour titi</a></p>
{% endblock %}

{# pour l'instant, on a pas besoin de remplir le block javascript#}