{% extends 'layout.html.twig' %}

{% block title %}Modification d'article{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <h1>Modification d'article</h1>
                {{ form_start(form) }}  {# permet de créer la balise <form> #}



                {{ form_end(form) }}   {# permet de fermer la balise <form> et d'ajouter tout les champs qui n'ont pas été générés avant #}
            </div>
            <div class="col-md-4">
                {% if image %}<img src="{{ asset('uploads/images/' ~ image) }}" class="img img-thumbnail">{%  endif %}
            </div>
        </div>
    </div>
{% endblock %}
